@{
    ViewData["Title"] = "Home Page";
}

<h1>First Run Setup</h1>
<form method="post" action="~/Home/Setup" >
    <p>If this your first run of Bugz, you can do a quick setup that inputs some basic data into your database. You must have at least one user in the database for this to work, so if you haven't not done so, please register a user.Just click the setup button below to get started.</p>
    <button type="submit">Setup</button>
</form>